# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# autoenv
/.env

# Ignore RubyMine/IntelliJ files
.idea

# Ignore generated assets
public/assets/

# Windows junk
Thumbs.db
