<div ng-controller="SectionsController">
  <div id="title-bar">
    <div id="title-name">
      <%= link_to '<', document_path(params[:document_id]), { title: 'Back to document', id: 'title-back' } %>
      <h1>New section</h1>
    </div>
  </div>

  <div class='page-preview' page-scroller>
    <% 1.upto(@document.page_count) do |i| %>
      <%= cl_image_tag(@document.attachment.full_public_id, format: :png, page: i, crop: :fit, width: 200) %>
    <% end %>
  </div>

  <div class='full-page'></div>
</div>
