<div id="title-bar">
  <div id="title-name">
    <%= link_to '<', documents_path, { title: 'Back to my documents', id: 'title-back' } %>
    <h1>New document</h1>
  </div>
</div>

<%= render 'form' %>
