// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'core';


#document-title {
  border-bottom: 1px solid $teal;
  margin-bottom: 1.5em;
  width: 100%;
}

  #documents-back,
  #document-name h1 {
    display: table-cell;
    margin-bottom: 0 !important;
    vertical-align: middle;
  }

  #documents-back {
    font-size: 1.2em;
    padding-right: 0.5em;
  }

#document-actions {
  margin-bottom: 1.5em;

  a {
    @include border-radius(5px);
    @include v(transition, (background-color 0.3s, color 0.3s));
    background-color: $teal;
    border: 1px solid $teal;
    color: #fff;
    padding: 0.5em 1em;
    text-align: center;
    width: 175px;

    &::after {
      display: none;
    }

    &:hover {
      background-color: #fff;
      color: $teal;
    }
  }
}
