// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.page-preview{
	width: 220px;
	height: 400px;
	overflow: scroll;
}
