// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'core';


#page-section {
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

#pages {
  display: table;
}

#page-preview,
#full-page {
  display: table-cell;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  vertical-align: top;
}

#page-preview {
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 230px;
  z-index: 10000;

  img {
    border: 3px solid transparent;
    margin-bottom: 0.75em;

    &:hover,
    &.active {
      border-color: $teal;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#full-page {
  padding-left: 240px;
  padding-top: 3px;

  img {
    max-width: 100%;
  }
}

#section-content {
  margin-bottom: 2em;
  margin-top: 1em;

  img {
    box-shadow: 0 0 5px #999;
  }
}


/* Comments */

.comment {
  background: #eee;
  border: 1px solid $teal;
  display: table;
  margin-top: 1em;
  padding: 1em;
  width: 100%;
}

  .comment-score,
  .comment-text {
    display: table-cell;
    vertical-align: top;
  }

  .comment-score {
    text-align: center;
    width: 80px;

    input[type="submit"] {
      margin: 0;
    }

    span {
      display: block;
      padding: 0.5em 0;
    }
  }

    .upvote input,
    .downvote input {
      @include v(transition, (background-color 0.3s, color 0.3s));
    }

    .upvote input:hover {
      background: #2bfd13;
      color: #fff;
    }

    .downvote input:hover {
      background: #ff2429;
      color: #fff;
    }

  .comment-text {
    padding-left: 1em;
  }

    .comment-time {
      color: #333;
      font-size: 0.9em;
      font-style: italic;
    }

#comment-field {
  margin-top: 1em;

  #comment_content {
    width: 100%;
  }
}
