<section id="landing-header">
  <h1 id="landing-header-slogan">Collaborate. Study. Succeed.</h1>
</section>

<section id="landing-about">

  <article class="landing-steps">
    <div class="landing-step-image" id="step-1">
      <%= link_to '', new_document_path %>
    </div>
    <p>1. Upload a test</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-2"></div>
    <p>2. Add answers</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-3"></div>
    <p>3. Vote for the best</p>
  </article>


  <p>Ever tried working together on past tests to study before an exam?</p>
  <p>Exemplary takes the pain out of that</p>
</section>