<section id="landing-header">
  <h1 id="landing-header-slogan">Collaborate. Study. Succeed.</h1>
</section>

<section id="landing-about">
  <article class="landing-steps">
    <div class="landing-step-image" id="step-1"></div>
    <p>1. Upload a test</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-2"></div>
    <p>2. Add answers</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-3"></div>
    <p>3. Vote for the best</p>
  </article>

  <p>With Exemplary, you can remove all the mess of collaborative exams, and get your answers reviewed faster.</p>
  <p>Exemplary is built from the ground up by a team that believes that collaboration is good, and a specialized platform is necessary
    for improved productivity. With Exemplary, you can easily upload past tests and exams, crop out individual questions, and submit your answers to each question.</p>
  <p>Other users can review previously posted answers, discuss them, suggest improvements, and even offer solutions of their own to the problem. Each discussion is neatly sorted and contained to each relevant question removing all the clutter of overflowing discussion that is present in many other collaboration applications. Using a vote-based system, users can express agreeance with other user's solution to give attention to the better-formed solutions. Browse for tests that others are working on based on University and course, and explore your study options. </p>
  <p>This entirely free service is open-source and made <em>by</em> students, <em>for</em> students.</p>
</section>
