<section id="landing-header">
  <h1 id="landing-header-slogan">Collaborate. Study. Succeed.</h1>
</section>

<section id="landing-about">
  <article class="landing-steps">
    <div class="landing-step-image" id="step-1"></div>
    <p>1. Upload a test</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-2"></div>
    <p>2. Add answers</p>
  </article>

  <article class="landing-steps">
    <div class="landing-step-image" id="step-3"></div>
    <p>3. Vote for the best</p>
  </article>

  <p>Exemplary takes the pain out of working together on past tests to study.</p>
  <p>Collaborate together, discuss answers, and easily generate a completed reference test to study from.</p>
</section>
