<div id="title-bar">
  <div id="title-name">
    <%= link_to '<', universities_path, { title: 'Back to all universities', id: 'title-back' } %>
    <h1>New university</h1>
  </div>
</div>

<%= render 'form' %>
