<footer id="site-footer">
  <p id="site-footer-pennapps">Created at <a href="http://2014f.pennapps.com/" title="PennApps X - Fall 2014">PennApps X</a></p>
  <p id="site-footer-devs"><a href="https://twitter.com/spe_" title="Spencer Elliott on Twitter">@spe_</a> • <a href="https://twitter.com/arkon" title="Eugene Cheung on Twitter">@arkon</a> • <a href="https://twitter.com/jwebbed" title="Jonathan Webb on Twitter">@jwebbed</a> • <a href="https://twitter.com/NickGoh_" title="Nicholas Goh on Twitter">@NickGoh_</a></p>
</footer>
