<header id="site-header">
  <a id="site-header-title" href="/" title="Exemplary home">Exemplary</a>
  <nav id="site-header-nav">
    <%= link_to '+ New Test', new_document_path %> •
    <%= link_to 'Sign in / Sign up', new_user_session_path %>
  </nav>
</header>
