<header id="site-header">
  <a id="site-header-title" href="/" title="Exemplary home">Exemplary</a>
  <nav id="site-header-nav">
    <%= link_to 'Sign In / Register', new_user_session_path %>
  </nav>
</header>
